---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HUBSPOT_API_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Clinical Practice Research Datalink
        (CPRD) - Medicines and Healthcare  products Regulatory Agency"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B19F4C10A1DCC5750A8191CDA9E6181200A89B986000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39933'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1711708030,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552053746180","timestamp":1552053746180,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552053746180","timestamp":1552053746180,"source":"CALCULATED","sourceVid":[],"requestId":"628c8fa7-b9e2-42f8-bcde-51cc333eeb4f"}]},"name":{"value":"Clinical
        Practice Research Datalink (CPRD) - Medicines and Healthcare  products Regulatory
        Agency","timestamp":1552053746180,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Clinical
        Practice Research Datalink (CPRD) - Medicines and Healthcare  products Regulatory
        Agency","timestamp":1552053746180,"source":"API","sourceVid":[],"requestId":"628c8fa7-b9e2-42f8-bcde-51cc333eeb4f"}]},"createdate":{"value":"1552053746180","timestamp":1552053746180,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552053746180","timestamp":1552053746180,"source":"API","sourceVid":[],"requestId":"628c8fa7-b9e2-42f8-bcde-51cc333eeb4f"},{"name":"createdate","value":"1552053746180","timestamp":1552053746180,"sourceId":"API","source":"API","sourceVid":[],"requestId":"628c8fa7-b9e2-42f8-bcde-51cc333eeb4f"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 08 Mar 2019 14:02:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=<HUBSPOT_API_KEY>&offset=&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BFF44F436C35A8CECD05B657ECAED22AAFFD1055B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39998'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1727174538,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552300333203","timestamp":1552300333203,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552300333203","timestamp":1552300333203,"source":"CALCULATED","sourceVid":[],"requestId":"b82b88db-f241-4fde-966e-d4172b954967"}]},"name":{"value":"Clinical
        Practice Research Datalink (CPRD) - Medicines and Healthcare  products Regulatory
        Agency","timestamp":1552300333203,"source":"API","sourceId":null,"versions":[{"name":"name","value":"Clinical
        Practice Research Datalink (CPRD) - Medicines and Healthcare  products Regulatory
        Agency","timestamp":1552300333203,"source":"API","sourceVid":[],"requestId":"b82b88db-f241-4fde-966e-d4172b954967"}]},"createdate":{"value":"1552300333203","timestamp":1552300333203,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552300333203","timestamp":1552300333203,"source":"API","sourceVid":[],"requestId":"b82b88db-f241-4fde-966e-d4172b954967"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1454864122,"isDeleted":false,"properties":{"country":{"value":"United
        Kingdom","timestamp":1550830407792,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"country","value":"United
        Kingdom","timestamp":1550830407792,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xMDE=","requestId":"043de08d-a81b-4e51-9eaa-1015c03ed1fb"}]},"city":{"value":"London","timestamp":1552295385892,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"city","value":"London","timestamp":1552295385892,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"timezone":{"value":"Europe/London","timestamp":1552295385892,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"timezone","value":"Europe/London","timestamp":1552295385892,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"facebook_company_page":{"value":"http://www.facebook.com/Ethical-Property-Foundation","timestamp":1550830407792,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"facebook_company_page","value":"http://www.facebook.com/Ethical-Property-Foundation","timestamp":1550830407792,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xMDE=","requestId":"043de08d-a81b-4e51-9eaa-1015c03ed1fb"}]},"description":{"value":"The
        Ethical Property Foundation is part of The Ethical Property family a grouping
        comprising the Foundation, the Ethical Property Company and Ethical Property
        Europe. The family has a shared vision, which is: The Ethical Property family
        is committed to making the best use of property for society and the environment.
        We work to define what Ethical Property means, to demonstrate it in action
        and inspire others to put it into practice. The F[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=<HUBSPOT_API_KEY>&offset=20&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B3F82CC1D440EFC261E40F12DCACEBCA52C6F1F3F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubs[...]
[...]
