---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HUBSPOT_API_KEY>&offset=&properties=name
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA0D68B1B33A2E7227DA51427B8B462D100C608AB000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249991'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":1454841560,"companies":[{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1454829433,"isDeleted":false,"properties":{"name":{"value":"digital.homeoffice.gov.uk","timestamp":1550830406830,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"name","value":"digital.homeoffice.gov.uk","timestamp":1550830406830,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC00Nw==","requestId":"c4a80698-26fb-43ba-a6f8-3c280384b125"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1454829434,"isDeleted":false,"properties":{"name":{"value":"Legal
        Ombudsman","timestamp":1550830406839,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"name","value":"Legal
        Ombudsman","timestamp":1550830406839,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xMDQ=","requestId":"408fb936-29b2-46b2-9ae1-070dce25edc9"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"porta[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HUBSPOT_API_KEY>&offset=1454841560&properties=name
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BEADBD978EC8ADB277E76F449A8412A2D3FF76C20000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Rate[...]
[...]
