---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=<HUBSPOT_API_KEY>&offset=&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B92F4510187E8990A7F17D60BA3E1C95048DBF998000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39854'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1741274547,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552641423458","timestamp":1552641423458,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552641423458","timestamp":1552641423458,"source":"CALCULATED","sourceVid":[]}]},"first_deal_created_date":{"value":"1552641422614","timestamp":1552641422814,"source":"DEALS","sourceId":"DealRollupProperties","versions":[{"name":"first_deal_created_date","value":"1552641422614","timestamp":1552641422814,"sourceId":"DealRollupProperties","source":"DEALS","sourceVid":[]}]},"num_associated_deals":{"value":"1","timestamp":1552641422814,"source":"DEALS","sourceId":"DealRollupProperties","versions":[{"name":"num_associated_deals","value":"1","timestamp":1552641422814,"sourceId":"DealRollupProperties","source":"DEALS","sourceVid":[]}]},"name":{"value":"My
        Amazing Company","timestamp":1552641422016,"source":"API","sourceId":null,"versions":[{"name":"name","value":"My
        Amazing Company","timestamp":1552641422016,"source":"API","sourceVid":[],"requestId":"75cc2957-baa7-405d-aac9-27af0979cd71"}]},"createdate":{"value":"1552641422016","timestamp":1552641422016,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552641422016","timestamp":1552641422016,"source":"API","sourceVid":[],"requestId":"75cc2957-baa7-405d-aac9-27af0979cd71"}]},"lifecyclestage":{"value":"opportunity","timestamp":1552641423309,"source":"DEALS","sourceId":"deals-lifecycle-sync","versions":[{"name":"lifecyclestage","value":"opportunity","timestamp":1552641423309,"sourceId":"deals-lifecycle-sync","source":"DEALS","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1741278869,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552641354593","timestamp":1552641354593,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552641354593","timestamp":1552641354593,"source":"CALCULATED","sourceVid":[]}]},"first_deal_created_date":{"value":"1552641353666","timestamp":1552641354079,"source":"DEALS","sourceId":"DealRollupProperties","versions":[{"name":"first_deal_create[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=<HUBSPOT_API_KEY>&offset=20&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1C0F0C21723A24D054CAA1206911E0F338760BB6000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39853'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1454864106,"isDeleted":false,"properties":{"country":{"value":"United
        Kingdom","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"country","value":"United
        Kingdom","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"city":{"value":"Northallerton","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"city","value":"Northallerton","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"timezone":{"value":"Europe/London","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"timezone","value":"Europe/London","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"facebook_company_page":{"value":"http://www.facebook.com/NorthYorkshirePolice","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"facebook_company_page","value":"http://www.facebook.com/NorthYorkshirePolice","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"description":{"value":"North
        Yorkshire Police is the largest single county force in England, covering an
        area of 3,200 square miles, policing a population of about 800,000 people,
        with 6,000 miles of road. The force came into being in 1974, made up of parts
        of the York and North East Yorkshire Police with parts of the West Riding
        Constabulary.","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"description","value":"North
        Yorkshire Police is the largest single county force in England, covering an
        area of 3,200 square miles, policing a population of about 800,000 people,
        with 6,000 miles of road. The force came into being in 1974, made up of parts
        of the York and North East Yorkshire Police with parts of the West Riding
        Constabulary.","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"createdate":{"value":"1550830407130","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"createdate","value":"1550830407130","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"web_technologies":{"value":"youtube;new_relic;apache;typekit_by_adobe;google_maps;wordpress;ubuntu;google_analytics;crazy_egg;rackspace","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"web_technologies","value":"youtube;new_relic;apache;typekit_by_adobe;google_maps;wordpress;ubuntu;google_analytics;crazy_egg;rackspace","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"industry":{"value":"LAW_ENFORCEMENT","timestamp":1552034482362,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"industry","value":"LAW_ENFORCEMENT","timestamp":1552034482362,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"numberofemployees":{"value":"1000.0","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"numberofemployees","value":"1000.0","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"linkedin_company_page":{"value":"http://linkedin.com/company/north-yorkshire-police","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"linkedin_company_page","value":"http://linkedin.com/company/north-yorkshire-police","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"hs_analytics_source":{"value":"OFFLINE","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"hs_analytics_source","value":"OFFLINE","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"annualrevenue":{"value":"1000000000","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"annualrevenue","value":"1000000000","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"founded_year":{"value":"1974","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"founded_year","value":"1974","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"state":{"value":"North
        Yorkshire","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"state","value":"North
        Yorkshire","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"linkedinbio":{"value":"North
        Yorkshire Police is the largest single county force in England, covering an
        area of 3,200 square miles, policing a population of about 800,000 people,
        with 6,000 miles of road. The force came into being in 1974, made up of parts
        of the York and North East Yorkshire Police with parts of the West Riding
        Constabulary.","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"linkedinbio","value":"North
        Yorkshire Police is the largest single county force in England, covering an
        area of 3,200 square miles, policing a population of about 800,000 people,
        with 6,000 miles of road. The force came into being in 1974, made up of parts
        of the York and North East Yorkshire Police with parts of the West Riding
        Constabulary.","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"zip":{"value":"DL7
        9HA","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"zip","value":"DL7
        9HA","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"website":{"value":"northyorkshire.police.uk","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"website","value":"northyorkshire.police.uk","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"pipeline_deals_company_id":{"value":"34640701","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"pipeline_deals_company_id","value":"34640701","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"address":{"value":"Newby
        Wiske Hall","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"address","value":"Newby
        Wiske Hall","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"twitterhandle":{"value":"nyorkspolice","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"twitterhandle","value":"nyorkspolice","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"hs_lastmodifieddate":{"value":"1552034482362","timestamp":1552034482362,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552034482362","timestamp":1552034482362,"source":"CALCULATED","sourceVid":[]}]},"phone":{"value":"448456060247","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"phone","value":"448456060247","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"domain":{"value":"northyorkshire.police.uk","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"domain","value":"northyorkshire.police.uk","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"name":{"value":"North
        Yorkshire Police","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"name","value":"North
        Yorkshire Police","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"is_public":{"value":"false","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"is_public","value":"false","timestamp":1550830407130,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC03OQ==","requestId":"b82a106c-7220-433b-b2cf-5480f6056480"}]},"lifecyclestage":{"value":"opportunity","timestamp":1550830407130,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"lifecyclestage","value":"opportunity","timestamp":1550830407130,"sourc[...]
[...]
