---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=ea332f3a-c60b-4730-bb76-32965bd39109&offset=&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BC86B0694599FEDE2006AC72B70C73801BA92C7DB000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39938'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":5360356,"companyId":1454879969,"isDeleted":false,"properties":{"country":{"value":"United
        Kingdom","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"country","value":"United
        Kingdom","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"city":{"value":"London","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"city","value":"London","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"timezone":{"value":"Europe/London","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"timezone","value":"Europe/London","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"facebook_company_page":{"value":"https://facebook.com/sh24nhs","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"facebook_company_page","value":"https://facebook.com/sh24nhs","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"description":{"value":"Sexual
        health 24/7. Order a free STI test kit now - results in 7 days. Confidential
        STI/STD testing, information & advice with NHS clinics.","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"description","value":"Sexual
        health 24/7. Order a free STI test kit now - results in 7 days. Confidential
        STI/STD testing, information & advice with NHS clinics.","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"createdate":{"value":"1550830407790","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"createdate","value":"1550830407790","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"web_technologies":{"value":"youtube;aws_route_53;kiss_metrics;ruby_on_rails;nginx;google_analytics;google_apps","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"web_technologies","value":"youtube;aws_route_53;kiss_metrics;ruby_on_rails;nginx;google_analytics;google_apps","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"numberofemployees":{"value":"50","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"numberofemployees","value":"50","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"linkedin_company_page":{"value":"https://www.linkedin.com/company/sh-24","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"linkedin_company_page","value":"https://www.linkedin.com/company/sh-24","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"hs_analytics_source":{"value":"OFFLINE","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"hs_analytics_source","value":"OFFLINE","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"annualrevenue":{"value":"10000000","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"annualrevenue","value":"10000000","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"founded_year":{"value":"2013","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"founded_year","value":"2013","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"linkedinbio":{"value":"Sexual
        health 24/7. Order a free STI test kit now - results in 7 days. Confidential
        STI/STD testing, information & advice with NHS clinics.","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"linkedinbio","value":"Sexual
        health 24/7. Order a free STI test kit now - results in 7 days. Confidential
        STI/STD testing, information & advice with NHS clinics.","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"zip":{"value":"SE1
        7QD","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"zip","value":"SE1
        7QD","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"website":{"value":"sh24.org.uk","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"website","value":"sh24.org.uk","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"pipeline_deals_company_id":{"value":"20498351","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"pipeline_deals_company_id","value":"20498351","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"address":{"value":"4
        WHITEHORSE MEWS","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"address","value":"4
        WHITEHORSE MEWS","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"address2":{"value":"WESTMINSTER
        BRIDGE ROAD","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"address2","value":"WESTMINSTER
        BRIDGE ROAD","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"twitterhandle":{"value":"sh24_nhs","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"twitterhandle","value":"sh24_nhs","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"hs_lastmodifieddate":{"value":"1551842561468","timestamp":1551842561468,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1551842561468","timestamp":1551842561468,"source":"CALCULATED","sourceVid":[]}]},"phone":{"value":"+44
        7860 041233","timestamp":1551842561468,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"phone","value":"+44
        7860 041233","timestamp":1551842561468,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"domain":{"value":"sh24.org.uk","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"domain","value":"sh24.org.uk","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"name":{"value":"SH24","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"name","value":"SH24","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"is_public":{"value":"false","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"is_public","value":"false","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]},"lifecyclestage":{"value":"opportunity","timestamp":1550830407790,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"lifecyclestage","value":"opportunity","timestamp":1550830407790,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzc=","requestId":"0d39ee72-4d73-4fd1-bc0c-aa7ea8c2d8de"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":5360356,"companyId":1454829438,"isDeleted":false,"properties":{"country":{"value":"United
        Kingdom","timestamp":1550830406868,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"country","value":"United
        Kingdom","timestamp":1550830406868,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0yMzI=","requestId":"64e96b3c-86d9-4487-90ff-e5e2bb00693e"}]},"city":{"value":"London","timestamp":1550830406868,"source":"IMPORT","sourc[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=ea332f3a-c60b-4730-bb76-32965bd39109&offset=20&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2F55E3393644819D69893217E0FD02E7E7B05AFB000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '[...]
[...]
