---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HUBSPOT_API_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"My Amazing Company"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1A526C258F6F02E88D8B45EACC7DA7C4031AF00B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249999'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":2324995605,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1565770742273","timestamp":1565770742273,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1565770742273","timestamp":1565770742273,"source":"CALCULATED","sourceVid":[],"requestId":"d400ccc2-faa5-456d-8a4d-f9f0a4955738"}]},"name":{"value":"My
        Amazing Company","timestamp":1565770742273,"source":"API","sourceId":"","versions":[{"name":"name","value":"My
        Amazing Company","timestamp":1565770742273,"sourceId":"","source":"API","sourceVid":[],"requestId":"d400ccc2-faa5-456d-8a4d-f9f0a4955738"}]},"createdate":{"value":"1565770742273","timestamp":1565770742273,"source":"API","sourceId":"","versions":[{"name":"createdate","value":"1565770742273","timestamp":1565770742273,"sourceId":"","source":"API","sourceVid":[],"requestId":"d400ccc2-faa5-456d-8a4d-f9f0a4955738"},{"name":"createdate","value":"1565770742273","timestamp":1565770742273,"sourceId":"","source":"API","sourceVid":[],"requestId":"d400ccc2-faa5-456d-8a4d-f9f0a4955738"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 14 Aug 2019 08:19:02 GMT
recorded_with: VCR 5.0.0
