---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/624817912?hapikey=<HUBSPOT_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B5648223EE6004EB07A33587AB09709C9689BA577000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39942'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"portalId":<HUBSPOT_PORTAL_ID>,"dealId":624817912,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[1454872838],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"marketplace_id":{"value":"9248","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"marketplace_id","value":"9248","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"dealname":{"value":"Contracts
        Awarded Database","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Contracts
        Awarded Database","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"successful_bidder":{"value":"","timestamp":1555078398366,"source":"CRM_UI","sourceId":"stuart@dxw.com","versions":[{"name":"successful_bidder","value":"","timestamp":1555078398366,"sourceId":"stuart@dxw.com","source":"CRM_UI","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":1553271088290,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","timestamp":1553271088290,"source":"CALCULATED","sourceVid":[],"sourceMetadata":"SWdub3JlVGhpc1Byb3BlcnR5VmFsdWVJblVwZGF0ZUZhY3Rvcnk="}]},"opportunity_link":{"value":"https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities/9248","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"opportunity_link","value":"https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities/9248","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"expected_start_date":{"value":"1553904000000","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"expected_start_date","value":"1553904000000","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"createdate":{"value":"1553271088290","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1553271088290","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"pipeline":{"value":"<HUBSPOT_PIPELINE_ID>","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"pipeline","value":"<HUBSPOT_PIPELINE_ID>","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1555078398366","timestamp":1555078398366,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1555078398366","timestamp":1555078398366,"source":"CALCULATED","sourceVid":[]}]},"dealstage":{"value":"<HUBSPOT_DEAL_STAGE_ID>","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"dealstage","value":"<HUBSPOT_DEAL_STAGE_ID>","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"hs_createdate":{"value":"1553271088290","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1553271088290","timestamp":1553271088290,"source":"API","sourceVid":[]}]},"hs_object_id":{"value":"624817912","timestamp":1553271088290,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_object_id","value":"624817912","timestamp":1553271088290,"source":"CALCULATED","sourceVid":[]}]},"submission_deadline":{"value":"1553472000000","timestamp":1553271088290,"source":"API","sourceId":null,"versions":[{"name":"submission_deadline","value":"1553472000000","timestamp":1553271088290,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Fri, 12 Apr 2019 14:34:50 GMT
[...]
