---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=ea332f3a-c60b-4730-bb76-32965bd39109
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"My Amazing Company"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCE03FA3D0EB3FF204F7B014DB80F63CAD7BC162E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39966'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":5360356,"companyId":1711686754,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552050769482","timestamp":1552050769482,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552050769482","timestamp":1552050769482,"source":"CALCULATED","sourceVid":[],"requestId":"9958b6b7-c990-4d1e-81f7-37df184e33b6"}]},"name":{"value":"My
        Amazing Company","timestamp":1552050769482,"source":"API","sourceId":null,"versions":[{"name":"name","value":"My
        Amazing Company","timestamp":1552050769482,"source":"API","sourceVid":[],"requestId":"9958b6b7-c990-4d1e-81f7-37df184e33b6"}]},"createdate":{"value":"1552050769482","timestamp":1552050769482,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552050769482","timestamp":1552050769482,"source":"API","sourceVid":[],"requestId":"9958b6b7-c990-4d1e-81f7-37df184e33b6"},{"name":"createdate","value":"1552050769482","timestamp":1552050769482,"sourceId":"API","source":"API","sourceVid":[],"requestId":"9958b6b7-c990-4d1e-81f7-37df184e33b6"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 08 Mar 2019 13:12:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=ea332f3a-c60b-4730-bb76-32965bd39109&offset=&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBB40B2B7E47496CA8ECBFD3E6DA7BC3EBD9F54A6000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39965'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":5360356,"companyId":1711686754,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552050769482","timestamp":1552050769482,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552050769482","timestamp":1552050769482,"source":"CALCULATED","sourceVid":[],"requestId":"9958b6b7-c990-4d1e-81f7-37df184e33b6"}]},"name":{"value":"My
        Amazing Company","timestamp":1552050769482,"source":"API","sourceId":null,"versions":[{"name":"name","[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=ea332f3a-c60b-4730-bb76-32965bd39109&offset=20&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4F1F3CC2C95BC35FF6F0FEF548EAD2CE47585C8B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '[...]
[...]
