---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HUBSPOT_API_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"My Amazing Company"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B8BC79F0D60BB286CE18D2D88C978C49E8AEA9673000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39838'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1741277365,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552642051460","timestamp":1552642051460,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552642051460","timestamp":1552642051460,"source":"CALCULATED","sourceVid":[],"requestId":"501df586-aa59-4795-9698-4d13c40c316f"}]},"name":{"value":"My
        Amazing Company","timestamp":1552642051460,"source":"API","sourceId":null,"versions":[{"name":"name","value":"My
        Amazing Company","timestamp":1552642051460,"source":"API","sourceVid":[],"requestId":"501df586-aa59-4795-9698-4d13c40c316f"}]},"createdate":{"value":"1552642051460","timestamp":1552642051460,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552642051460","timestamp":1552642051460,"source":"API","sourceVid":[],"requestId":"501df586-aa59-4795-9698-4d13c40c316f"},{"name":"createdate","value":"1552642051460","timestamp":1552642051460,"sourceId":"API","source":"API","sourceVid":[],"requestId":"501df586-aa59-4795-9698-4d13c40c316f"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Fri, 15 Mar 2019 09:27:31 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=<HUBSPOT_API_KEY>&offset=&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B94E32BF514D8B4D08B3F24064E85D50C092DD671000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39837'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1741274547,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552641423458","timestamp":1552641423458,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552641423458","timestamp":1552641423458,"source":"CALCULATED","sourceVid":[]}]},"first_deal_created_date":{"value":"1552641422614","timestamp":1552641422814,"source":"DEALS","sourceId":"DealRollupProperties","versions":[{"name":"first_deal_created_date","value":"1552641422614","timestamp":1552641422814,"sourceId":"DealRollupProperties","source":"DEALS","sourceVid":[]}]},"num_associated_deals":{"value":"1","timestamp":1552641422814,"source":"DEALS","sourceId":"DealRollupProperties","versions":[{"name":"num_associated_deals","value":"1","timestamp":1552641422814,"sourceId":"DealRollupProperties","source":"DEALS","sourceVid":[]}]},"name":{"value":"My
        Amazing Company","timestamp":1552641422016,"source":"API","sourceId":null,"versions":[{"name":"name","value":"My
        Amazing Company","timestamp":1552641422016,"source":"API","sourceVid":[],"requestId":"75cc2957-baa7-405d-aac9-27af0979cd71"}]},"createdate":{"value":"1552641422016","timestamp":1552641422016,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1552641422016","timestamp":1552641422016,"source":"API","sourceVid":[],"requestId":"75cc2957-baa7-405d-aac9-27af0979cd71"}]},"lifecyclestage":{"value":"opportunity","timestamp":1552641423309,"source":"DEALS","sourceId":"deals-lifecycle-sync","versions":[{"name":"lifecyclestage","value":"opportunity","timestamp":1552641423309,"sourceId":"deals-lifecycle-sync","source":"DEALS","sourceVid":[]}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1741278869,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1552641354593","timestamp":1552641354593,"source":"CALCULATED","sou[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/modified?hapikey=<HUBSPOT_API_KEY>&offset=20&properties=companyname
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B6815197E02859B470D093E5A8B1418A0BDFD62F1000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '40000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '39836'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":<HUBSPOT_PORTAL_ID>,"companyId":1454833942,"isDeleted":false,"properties":{"country":{"value":"United
        Kingdom","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"country","value":"United
        Kingdom","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"city":{"value":"Edinburgh","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"city","value":"Edinburgh","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"timezone":{"value":"Europe/London","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"timezone","value":"Europe/London","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"facebook_company_page":{"value":"https://www.facebook.com/forestry.commission.england","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"facebook_company_page","value":"https://www.facebook.com/forestry.commission.england","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"description":{"value":"Find
        out about visiting forests, woodland grants and tree planting, felling regulations
        and much more.","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"description","value":"Find
        out about visiting forests, woodland grants and tree planting, felling regulations
        and much more.","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"createdate":{"value":"1550830407784","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"createdate","value":"1550830407784","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"web_technologies":{"value":"mailchimp;hotjar;google_tag_manager;facebook_connect;google_analytics;twitter_button;facebook_advertiser","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"web_technologies","value":"mailchimp;hotjar;google_tag_manager;facebook_connect;google_analytics;twitter_button;facebook_advertiser","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"industry":{"value":"GOVERNMENT_ADMINISTRATION","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"industry","value":"GOVERNMENT_ADMINISTRATION","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"numberofemployees":{"value":"5000.0","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"numberofemployees","value":"5000.0","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"linkedin_company_page":{"value":"https://www.linkedin.com/company/forestry-commission","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"linkedin_company_page","value":"https://www.linkedin.com/company/forestry-commission","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"hs_analytics_source":{"value":"OFFLINE","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"hs_analytics_source","value":"OFFLINE","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"annualrevenue":{"value":"1000000000","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"annualrevenue","value":"1000000000","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"state":{"value":"AZ","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"state","value":"AZ","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"linkedinbio":{"value":"Find
        out about visiting forests, woodland grants and tree planting, felling regulations
        and much more.","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"linkedinbio","value":"Find
        out about visiting forests, woodland grants and tree planting, felling regulations
        and much more.","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"zip":{"value":"EH12
        7AT","timestamp":1552036970002,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"zip","value":"EH12
        7AT","timestamp":1552036970002,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"website":{"value":"forestry.gov.uk","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"website","value":"forestry.gov.uk","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"pipeline_deals_company_id":{"value":"70941091","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"pipeline_deals_company_id","value":"70941091","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"address":{"value":"Silvan
        House 231 Corstorphine Road","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"address","value":"Silvan
        House 231 Corstorphine Road","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"address2":{"value":"231
        Corstorphine Road","timestamp":1552036970002,"source":"BIDEN","sourceId":"BidenPropertyMappings","versions":[{"name":"address2","value":"231
        Corstorphine Road","timestamp":1552036970002,"sourceId":"BidenPropertyMappings","source":"BIDEN","sourceVid":[]}]},"twitterhandle":{"value":"ForestryCommEng","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"twitterhandle","value":"ForestryCommEng","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"hs_lastmodifieddate":{"value":"1552036970002","timestamp":1552036970002,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1552036970002","timestamp":1552036970002,"source":"CALCULATED","sourceVid":[]}]},"phone":{"value":"+44
        1442 023337","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"phone","value":"+44
        1442 023337","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"domain":{"value":"forestry.gov.uk","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"domain","value":"forestry.gov.uk","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"name":{"value":"Forestry
        Commission","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"name","value":"Forestry
        Commission","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"is_public":{"value":"false","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"is_public","value":"false","timestamp":1550830407784,"sourceId":"5076210","source":"IMPORT","sourceVid":[],"sourceMetadata":"Nzc1MzM2MjM0NC0xNzg=","requestId":"f2218d2c-5f33-46b8-8c79-cacaece16af3"}]},"lifecyclestage":{"value":"opportunity","timestamp":1550830407784,"source":"IMPORT","sourceId":"5076210","versions":[{"name":"lifecyclestage","value":"opportunity","timestamp":1550830407784,"sourc[...]
[...]
